.thumb {
    width: 100%;
    height: 80%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: #313131;
}
.thumb-div {
    background-color: #f1c40f;
    width: 20%;
    height: 25%;
    border-radius: 5%;
    display: inline-block;
    margin-left: 3%;
}